* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* display and box model */
    margin: 0;
    padding-top: 44px;
    padding-bottom: 44px;
    height: 100vh;
    /* color */
    background-color: #23252C;
    /* text */
    font-family: Inter, sans-serif;
}

.container {
    /* display and box model */
    width: 317px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header, .main {
    background-color: #1A1B21;
}

/* info */

.info--image {
    height: 317px;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

.info--name {
    /* display and box model */
    margin-top: 21px;
    /* color */
    color: #FFFFFF;
    /* text */
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.info--role {
    /* display and box model */
    margin-top: 6px;
    /* color */
    color: #F3BF99;
    /* text */
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.info--github {
    /* display and box model */
    margin-top: 9px;
    /* color */
    color: #F5F5F5;
    /* text */
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.info--buttons {
    display: flex;  
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

button {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

button > i {
    margin-right: 8px;
}

.btn--email {
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
}

.email-icon {
    font-size: 16px;
}

.btn--linkedin {
    /* display and box model */
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: 0;
    /* color */
    background-color: #5093E2;
    color: white;
}

.linkedin-icon {
    font-size: 16px;
    color: white;
}

/* main */

.main {
    padding: 33px 35px;
}

.main h2 {
    font-size: 16px;
    font-weight: 700;
    color: #F5F5F5;
}

.main p {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #DCDCDC;
}

.interest--container {
    margin-top: 27px;
}

.portfolio--container {
    margin-top: 27px;
}

.portfolio--title {
    margin-bottom: 5px;
}

.portfolio--link-container {
    display: flex;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.project--link {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: #DCDCDC;
}

.project--btn {
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.project--technologies-bar {
    display: flex;
    height: 8px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}
  
.bar.js {
    background-color: #f1c40f;
}
  
.bar.css {
    background-color: #8e44ad;
}
  
.bar.html {
    background-color: #e74c3c;
}

.technologies--legend {
    display: flex;
    gap: 15px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
}

.legend-color {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
}

.legend-color.js {
    background-color: #f1c40f;
}
  
.legend-color.css {
    background-color: #8e44ad;
}
  
.legend-color.html {
    background-color: #e74c3c;
}

/* footer */

.footer--container {
    padding: 20px;
    background-color: #161619;
    text-align: center;
}

.cv--link {
    /* display and box model */
    padding: 5px 5px;
    border: 2px solid #777;
    border-radius: 5px;
    /* color */
    background-color: #444;
    color: white;
    /* text */
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    /* other */
    transition: all 0.3s ease;
}

.cv--link:hover {
    background-color: #777;
    border-color: #fff;
    color: #161619;
}

@media only screen and (max-width: 600px) {
    .container {
      width: 100%; /* Adjust the width to be wider */
      padding: 10px; /* Add some padding */
    }
}
