* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* display and box model */
    margin: 0;
    height: 100vh;
    padding: 50px;

    /* color */
    background-color: #23252C;

    /* text */
    font-family: Inter, sans-serif;
}

h1 {
    color: white;
}
